= form_for(current_user, :url => registration_path(current_user)) do |f|
  - current_user.errors.full_messages.each do |msg|
    = msg

  %fieldset
    %ul
      %li
        = f.label :lastfm_username, 'Last.fm username'
        = f.text_field :lastfm_username
      %li
        = f.submit 'Submit'

= form_tag(lastfm_users_path, :id => 'lastfm_sync') do
  %fieldset
    %ul
      %li
        = submit_tag 'Sync'
    #sync_success

%div= link_to 'Back', releases_path
