= render :partial => 'admin/releases/new'
=# render :partial => 'releases/search'
= render :partial => 'releases/pagination', :locals => { :position => 'top' }

= release_filter_select(current_user, params[:filter])

%table#releases{ :class => releases_classes(current_user) }
  %tr
    %th{ :class => header_class('band', params[:s]) }= link_to_sort('band', params)
    %th{ :class => header_class('name', params[:s]) }= link_to_sort('name', params)
    %th{ :class => header_class('us_date', params[:s]) }= link_to_sort('us_date', params.merge(:column_name => 'US Release'))
    %th{ :class => header_class('euro_date', params[:s]) }= link_to_sort('euro_date', params.merge(:column_name => 'World Release'))
    %th{ :class => header_class('format', params[:s]) }= link_to_sort('format', params)
    -#%th{ :class => header_class('label', params[:s]) }= link_to_sort('label', params)
    %th.url_header URL
    - if admin?(current_user)
      %th.action_header Actions

  - if @releases.empty?
    = separator_row('Your search returned 0 results.')
  - else
    - comparison_value = @releases.first.chain_methods(Release::FIELDS_WITH_METHODS[Release.default_sort(params[:s])])
    = separator_row(comparison_value)

    - @releases.each do |release|
      - current_value = release.chain_methods(Release::FIELDS_WITH_METHODS[Release.default_sort(params[:s])])
      - if Release.values_compared?(current_value, comparison_value, params[:d])
        - comparison_value = current_value
        = separator_row(comparison_value)
      - else
        - comparison_value = current_value
      = render release

= render :partial => 'releases/pagination', :locals => { :position => 'bottom' }
