=# render :partial => 'releases/new_form'
=# render :partial => 'releases/search'
= render :partial => 'releases/pagination', :locals => { :position => 'top' }

= release_filter_select(current_user, params[:filter])

%table.releases
  %tr
    %th.edit_band= link_to_sort('band', params)
    %th.edit_name= link_to_sort('name', params)
    %th.edit_us_release_date= link_to_sort('us_date', params.merge(:column_name => 'US Release'))
    %th.edit_euro_release_date= link_to_sort('euro_date', params.merge(:column_name => 'World Release'))
    %th.edit_release_type= link_to_sort('format', params)
    -#%th.edit_label= link_to_sort('label', params)
    %th.edit_url URL
    - if admin?(current_user)
      %th Actions


  - date = @releases.first.us_date
  %tr{ :class => cycle('even', 'odd') }
    %td{ :class => 'month_row', :colspan => 7 }
      - if params[:s].nil?
        = "#{Date::MONTHNAMES[date.month]} #{date.year}"

  - @releases.each do |release|
    - if params[:s].nil?
      - if release.us_date.month > date.month
        - date = release.us_date
        %tr{ :class => cycle('even', 'odd') }
          %td{ :class => 'month_row', :colspan => 7 }
            = "#{Date::MONTHNAMES[date.month]} #{date.year}"

    = render release

= render :partial => 'releases/pagination', :locals => { :position => 'bottom' }
